<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Photo Collection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <!-- <ion-col size="6" *ngFor="let photo of photoService.photos">
        <img [src]="photo.data" />
      </ion-col> -->
      <!-- <ion-col size="6">
        <img [src]="imgLink" alt="">
        <!-- <img src="../../../assets/img/laspalmasGC.jpg" alt="">
      </ion-col> -->
      <ion-col size="6" *ngFor="let photo of imgLink">
        <img [src]="photo" (click)="showModal()" class="img"/>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
