<ion-header>
  <ion-toolbar>
    <ion-title>Information</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header class="header">
      <ion-card-title class="ion-text-center">Explocation</ion-card-title>
      <div class="logo-container">
        <img src="../../../assets/img/logo-explocation.png" alt="Logo Explocation">
      </div>
    </ion-card-header>
  
    <ion-card-content>
      <p class="ion-padding">
        <strong>Explocation</strong> is an app where the user can discover and know some city places while he answers questions
        about places that he visits. The objective of the app is the user know more about different city places around there. In the beginning,
        the app shows a map with markers that represents some places. The user clicks the mark that he wants and then appear a
        new mark with his location and a line between the new mark and the clicked mark than represent the distance between
        the user and the place. Down the map, the app shows the distance in meters, and down the meters, appear an image what is
        not complete. The user needs to approach the place to obtain the full image. When the user is close enough to the place,
        the image disappears and appear a question about the place instead.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
