.background {
  // --background: blue;
  --background: url('../../../assets/img/imagen-explocation-fondo-2.jpg') 10% 10%/100% 100% no-repeat;
}

.title {
  text-align: center;
  margin-top: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  // color: #555;
  color: var(--ion-color-primary);
}

.container-img {
  text-align: center;
  margin-top: 30%;
}

.container-img img {
  width: 30%;
}

.btn-container {
  text-align: center;
  margin-top: 25%;
}

.btn {
  --font-size: 2rem;
  --background: var(--ion-color-tertiary);
  width: 50%;
  animation: btnAnimation 1s alternate infinite;
}

@keyframes btnAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}