<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map">

  </div>

  <ion-card class="image-container">
    <img class="image" src="../../../assets/img/alfredo_kraus_auditory.png" alt="">
  
    <div class="layer layer-1"></div>
    <div class="layer layer-2"></div>
    <div class="layer layer-3"></div>
    <div class="layer layer-4"></div>
  </ion-card>
</ion-content>

<ion-footer class="footer_style">
  <ion-button color="success" large="true"><ion-icon name="images-outline"></ion-icon></ion-button>
</ion-footer>
