<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Explocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map">

  </div>

  <ion-card class="image-container">
    <img class="image" [src]="imgLink" alt="">
  
    <div class="layer layer-1"></div>
    <div class="layer layer-2"></div>
    <div class="layer layer-3"></div>
    <div class="layer layer-4"></div>
  </ion-card>

  <ion-button (click)="showModal()" expand="block">Question</ion-button>
</ion-content>
