<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Explocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map">

  </div>

  <h1 class="title ion-padding">📍{{ markerName }}</h1>

  <ion-card class="image-container">
    <img class="image" [src]="imgLink" alt="">

  
    <div class="layer layer-1"></div>
    <div class="layer layer-2"></div>
    <div class="layer layer-3"></div>
    <div class="layer layer-4"></div>
  </ion-card>

  <ion-button class="btn-question" *ngIf="showBtn" (click)="showModal()" expand="block">Question</ion-button>
</ion-content>

<ion-footer class="footer_style">
  <ion-button color="success"><ion-icon name="images-outline"></ion-icon></ion-button>
  <ion-button class="float_right"><ion-icon name="settings"></ion-icon></ion-button>
</ion-footer>
