<ion-header>
  <ion-toolbar>
    <ion-title>Question</ion-title>
    <ion-buttons>
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modalQuestion">
  
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <p>Question?</p>
          </ion-list-header>
          <ion-item (click)="checkRightAnswer(data.answer1)">
            <ion-label>{{data.answer1}}</ion-label>
            <ion-radio class="answer1" slot="start" [color]="rightColor" value="answer1"></ion-radio>
          </ion-item>

          <ion-item (click)="checkRightAnswer(data.answer2)">
            <ion-label>{{data.answer2}}</ion-label>
            <ion-radio class="answer2" slot="start" [color]="rightColor" value="answer2"></ion-radio>
          </ion-item>
      
          <ion-item (click)="checkRightAnswer(data.answer3)">
            <ion-label>{{data.answer3}}</ion-label>
            <ion-radio class="answer3" slot="start" [color]="rightColor" value="answer3"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
